<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="cart-wrapper">
        <div id="cart">
            <header>
                <h2>Cart</h2>
                <% if (cart.length === 0) { %>
                    <p>No items</p>
                <% } else { %> 
            </header>
            <article>
                <% for( const cartItem of cart ) { %>
                        <header>
                            <h3 id="cart-item-header"><%= cartItem.name %></h3>
                            <span>Qty: <%= cartItem.qty %></span>
                        </header>
                        <p>$<%= cartItem.qty * cartItem.price %>.00</p>
                        <div id="cart-item-footer">
                            <a href="/eatHub/order/<%= cartItem.id %>/edit"><button class="primary">Edit</button></a>
                            <form method="post" action="/eatHub/order/<%= cartItem.id %>?_method=DELETE">
                                <button class="secondary">Delete</button>
                            </form>
                        </div>
                <% } %> 
            </article>
            </div>
            <% let sumTotal = 0 %>
            <% for (const cartItem of cart) { %> 
                <% sumTotal += (cartItem.qty * cartItem.price) %> 
                <% } %> 
            <p style="margin-right: 120px;">Total: $<%= sumTotal%>.00</p>
            </div>
            <div style="display: flex; margin-right: 40px;">
                <a href="/eatHub/submit"><button class="primary" style="background-color: green;">Submit Order</button></a>
                    <form method="post" action="/eatHub/?_method=DELETE">
                        <button class="secondary">Empty Cart</button>
                    </form>
            </div>
                <% } %> 
        </div>
  </div>
  