<%- include('./partials/header.ejs') %>
    <main>
        <h2><%= item.name %></h2>
        <form method="POST" action="/eatHub?_method=PUT">
            <input name="<%= item.id %>" type="number" value="<%= item.qty %>" min="0" />
            <button>Update Quantity</button>
        </form>
    </main>
<%- include('./partials/footer.ejs') %>
</body>
</html>