<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div>
        <h1>Menu</h1>
        <% for( const item of items ) { %>
            <a href="/eatHub/<%= item.id %>"><h1><%= item.name %> </h1></a>
        <% } %>
        <a href="/eatHub/order"><h3>Create a new order</h3></a>
    </div>
    <div>
        <h1>Cart</h1>
        <% for( const cartItem of cart ) { %>
            <h1><%= cartItem.name %></h1><span>$<%= cartItem.price %>.00</span> <p>Quantity: <%= cartItem.qty %></p><a href="/eatHub/order/<%= cartItem.id %>/edit">Edit</a>
            <form method="post" action="/eatHub/order/<%= cartItem.id %>?_method=DELETE">
                <button>Delete</button>
            </form>
        <% } %>
        <form method="post" action="/eatHub/?_method=DELETE">
            <button>Empty Cart</button>
        </form>
    </div>
</body>
</html>