<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Which items you wanna order?</h1>
    <form action="/eatHub" method="POST">
        <div id="order-up">
            <% for( const item of menu ) { %>
                <input type="checkbox" id="<%= item.name %>" value="<%= item.name%>; <%= item.price %>" name='order'/>
                <label for="<%= item.name %>">
                    <img width="100px" height="100px" src="<%= item.imgUrl %> " />
                    <div id="item">
                        <div id="item-header">
                            <h3><%= item.name %></h3>
                            <h3>$<%= item.price %> </h3>
                        </div>
                        <p><%= item.desc %> </p>
                    </div>
                </label>
                <% } %>
        </div>
        <button>Add to Cart!</button>
    </form>
</body>
</html>