<%- include('./partials/header.ejs') %>
    <main>
        <h2><%= item.name %></h2>
        <h3 id="item-desc"><%= item.desc %></h3>
        <img id="item-img" src="<%= item.imgUrl %>"/>
        <div id="item-stats">
            <h3><%= item.rating %> out of 5 stars</h3> 
            <h3>$<%= item.price %>.00</h3>
        </div>
        <form action="/eatHub" method="POST">
            <input class="add-label" type="checkbox" id="<%= item.name %>" value="<%= item.name%>; <%= item.price %>" name='order' onclick="addToCart()"/>
            <label id="item-label" for="<%= item.name %>">Add to Cart?</label>
            <button id="return-btn">Return to menu</button>
        </form>
    </main>
    
    <script>
        const checkboxEl = document.querySelector(".add-label")
        const addToCart = () => {
            document.querySelector("#return-btn").classList.toggle("selected")
            if (checkboxEl.checked) {
                checkboxEl.nextElementSibling.textContent = "Deselect"
                document.querySelector("button").innerHTML = "Adding to cart <br> Confirm ✓"
            } else {
                checkboxEl.nextElementSibling.textContent = "Add to Cart?"
                document.querySelector("button").textContent = "Return to menu "
            }
        }
    </script>
</body>
</html>